body {
	margin:0; background-color: #f75e50;  font-family: 'Amatic SC', cursive !important; 
	overflow-y: hidden !important;

}

.container {
	width:100%;
	z-index:-9;	
}

.logo {
	margin-left:30px;
	position:absolute;
	width:auto;
	top:25px;
}
.logo img {
	width:165px;
}

.motto {
	font-family: 'Sacramento', cursive;
	font-size:50px;
	color:white;
	position: absolute;
	width:100%;
	top:84vh;
	text-align: center;
}

.pizza {
   	width: 50%;
  	left:0px;
  	position:relative;
}
.pizza img {
	width:60%;
	position:absolute;
	top:-500px;
	left:25%;
}
#pizza-box {
	position:relative;
	top:2048px;
	left:-100px;
}
#pizza-box img {
	width:95%;
}
	
.box {	
	top:0px;
	right: 0px;
	float:right;
	width:50%;
	height:100vh;
	background-color: white;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .15);
	text-align: center;
}
.box-title {
	font-size:32px;
	color:black;
}
.box-caption {
	font-family: 'Sacramento', cursive;
	font-size:60px;
	color:#f75e50;
	line-height: 1;
}

.first-section {
	margin-top:5px;
}

.secount-section {
	margin-top:20px;
	background-color: #f4f4f4;
	width: 100%;
	height:auto;
	padding: 20px 0px 20px 0px;
}
	.secount-section a {
		font-size:20px;
		color:black;/*color:white;*/
		display: inline-block;
		text-decoration: none;
		padding:3px;
		width:100px;
		border-radius: 25px;
		background-color:white;/*background-color: #f75e50;*/
	}

.third-section {
	background-color: white;
	width: 100%;
	height:auto;
	padding: 20px 0px 20px 0px;
}

.order-data {
	float: left;
	width:50%;
	background-color: #f4f4f4;
	padding: 20px 0px 20px 0px;
}

.order {
	float: left;
	width:50%;
	background-color: white;
	padding: 20px 0px 20px 0px;
}

.order a {
		font-size:30px;
		color:white;
		display: inline-block;
		text-decoration: none;
		padding:3px;
		width:150px;
		border-radius: 25px;
		background-color: #f75e50;
	}
	.order-caption {
		font-size:13px;
		font-weight: bold;
		display: block;
	}
	.order-price {
		font-size:80px;
		font-weight: bold;
		display: block;
		line-height: 1;
	}

	input[type=text] {
		width:137px; 
		margin-top:5px;
		height:37px; 
		background-color: white; 
		color: black; 
		display: inline-block;
		padding:10px;
		border-radius: 25px;
		border:none;
		font-size:20px;
	}
